body {
  margin: 0px;
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  margin: 20px;
}

label {
  width: 100px;
  display: inline-block;
}

.form-group {
  margin: 20px 0px;
}

.container {
  display: flex;
}

.column {
  margin-right: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
}
